<header
  class="flex justify-between items-center mb-12 border-b-2 border-gray-200"
>
  <h1 class="text-2xl font-bold">
    <a href="/" class="text-inherit no-underline hover:no-underline">
      @ivanleomk
    </a>
  </h1>
  <nav>
    <ul class="flex space-x-6">
      <!-- {
        ["Home", "Blog"].map((item) => (
          <li>
            <a
              href={`/${item.toLowerCase()}`}
              class="text-gray-600 hover:text-gray-900"
            >
              {item}
            </a>
          </li>
        ))
      } -->
    </ul>
  </nav>
</header>
